@media(min-width:1200px) and (max-width:1600px) {
    .carousel-caption h5 {
        font-size: 48px;
    }

    .vision-left-side-content {
        padding: 0px 75px;
    }

    .testimonial-container {
        max-width: 1200px;
    }

    #customers-testimonials .owl-item.active.center .item {
        transform: scale3d(1.2, 1.3, 1);
    }

    #customers-testimonials .item {
        margin-top: 80px;
    }

    .about-f-content {
        padding: 0px 70px;
    }

    .about-main-content .row {
        align-items: center;
    }

    .mission {
        padding-top: 50px;
    }

    .vision {
        margin-bottom: 50px;
    }

}

@media(max-width:1199px) {

    .navbar-expand-lg .navbar-nav .nav-link,
    .navbar-call-btn a {
        font-size: 14px;
    }

    .carousel-caption h5 {
        font-size: 27px;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px !important;
    }

    .carousel-caption p {
        margin: 0 auto 30px;
    }

    .carousel-btn a {
        font-size: 14px !important;
    }

    .about-content h2 {
        font-size: 40px;
    }

    .about-img::after {
        width: 100px;
        height: 100px;
        right: -18px;
    }

    .vision-left-side-content {
        padding: 0px 75px;
    }

    .vision {
        margin-bottom: 25px;
    }

    .mission {
        padding-top: 25px;
    }

    .vision h2 {
        font-size: 24px;
    }

    .about-detail-box h3 {
        font-size: 24px;
    }

    .l-col {
        padding: 50px 0;
    }

    .container {
        max-width: 960px;
    }

    #customers-testimonials .owl-item.active.center .item {
        transform: inherit;
    }

    .shadow-effect .media-body h4 {
        font-size: 20px;
    }

    .shadow-effect .media-body span {
        font-size: 22px;
        line-height: 22px;
    }

    .about-detail-box {
        width: auto;
    }

    .about-f-content {
        padding: 0 105px;
    }

    .about-main-content .row {
        align-items: center;
    }

    .impect-box p {
        font-weight: 500;
        font-size: 32px !important;
    }

    .impect-featurs .media-body h3 {
        font-size: 24px;
    }

    .f-link a {
        font-size: 14px;
    }

    .vision p,
    .service-box p {
        line-height: 20px;
    }

    .about-content p,
    .contact-form-box p {
        line-height: 22px;
    }

    .contact-call span {
        line-height: 23px;
        font-size: 14px;
    }

    .about-detail-box p {
        line-height: 24px;
    }

    .c-contact-number span {
        font-size: 14px;
    }


    /* #customers-testimonials .owl-item{
        margin-right: 20px;
    } */


}

@media(max-width:991px) {
    .navbar-call-btn a {
        color: #FF0000;
        border-radius: 50px;
        padding: 8px 12px;
    }

    .navbar-call-btn a:first-child {
        display: none;
    }

    .navbar-call-btn a:last-child {
        display: block;
        position: absolute;
        top: 25px;
        right: 15px;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        max-width: 562px;
    }

    .about-content p {
        width: auto;
        text-align: justify;
    }

    .container {
        max-width: 720px;
    }

    .about-img::before {
        width: 100px;
        height: 100px;
        left: -20px;
    }

    .vision-left-side-content {
        padding: 0px 25px;
    }

    p {
        font-size: 12px !important;
    }

    .service-box span {
        font-size: 20px;
        padding: 15px 0 5px 0;
    }

    .t-label h3 {
        font-size: 40px;
    }

    .shadow-effect .media-body h4 {
        font-size: 16px;
    }

    .shadow-effect .media-body h4 {
        font-size: 14px;
    }

    .l-col {
        padding: 30px 0;
    }

    .f-link {
        margin: 15px 0;
    }

    .f-link a,
    .f-link p {
        font-size: 14px !important;
    }

    .menubar li a {
        padding-left: 10px !important;
    }

    .abg-caption h2 {
        font-size: 36px;
    }

    .about-f-content {
        padding: 0 75px;
    }

    .about-features-section .col-md-8 {
        padding-left: 0px;
    }

    .impect-box h5 {
        font-weight: 500;
        font-size: 20px;
    }

    .impect-featurs .media-body {
        margin-left: 20px;
    }

    .impect-featurs .media-body h3 {
        font-size: 18px;
    }

    .col-mar-impect {
        margin-bottom: 40px;
    }

    .computer-outer-box {
        min-height: 303px;
    }

    #navbarDropdown::after {
        right: auto;
        margin-left: 10px;
        top: 25px;
    }

    .contact-form-box {
        padding: 45px 50px;
    }

    .office-contact {
        padding: 50px 0 0 0px;
    }

    .c-contact-number span {
        font-size: 12px;
    }

    .menubar li a {
        padding: 15px 16px;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-menu.show {
        display: block !important;
    }

    .impect-box h5 {
        line-height: 30px;
    }


}

@media(max-width:767px) {
    .l-col {
        width: 50%;
    }

    .carousel-caption {
        left: auto;
        right: auto;
        width: 100%;
    }

    .carousel-btn a:last-child {
        margin-left: 5px;
    }

    .carousel-btn a {
        padding: 8px 20px !important;
    }

    .carousel-caption h5 {
        font-size: 24px;
    }

    .carousel-indicators li {
        width: 15px;
        height: 15px;
    }

    .service-box {
        margin: 30px 0 0;
    }

    .social-icon {
        justify-content: start;
        margin-top: 20px;
    }

    .carousel-indicators li.active:before {
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
    }

    #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
    }

    #customers-testimonials.owl-carousel .owl-dots .owl-dot.active:before {
        top: 4px;
        left: 8px;
    }

    .about-img {
        margin-top: 50px;
    }

    .about-img::before {
        width: 80px;
        height: 80px;
        left: -8px;
        bottom: -20px;
    }

    .about-img::after {
        width: 80px;
        height: 80px;
        right: -8px;
        top: -20px;
    }

    .about-section {
        padding: 80px 0;
    }

    .vision-left-side-content {
        padding: 50px 15px;
    }

    #customers-testimonials {
        margin-top: 0px;
    }

    .brand-logo-section {
        border-radius: 0px;
    }

    .l-col:nth-child(1) {
        border-top-left-radius: 0px;
    }

    .l-col:nth-child(20) {
        border-bottom-right-radius: 0;
    }

    .l-col:nth-child(16) {
        border-bottom-left-radius: 0px;
    }

    .l-col:nth-child(5) {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .shadow-effect .media-body {
        margin-left: 20px;
    }

    .shadow-effect .media-body span {
        font-size: 12px;
    }

    .owl-carousel .owl-item img {
        max-width: 50px;
    }

    .shadow-effect .media-body h4 {
        margin: 5px 0;
    }

    #customers-testimonials .shadow-effect p {
        margin-top: 15px;
    }

    .about-content h2 {
        text-align: center;
        font-size: 24px;
    }

    .vision h2,
    .vision p {
        text-align: center;
        display: block;
        margin: 12px auto;
    }

    .custom-carousel .carousel-item img {
        width: 100%;
        height: 75vh;
    }

    .carousel-caption p {
        max-width: 320px;
    }

    .abg-caption h2 {
        font-size: 24px;
    }

    .about-detail-box {
        padding: 30px 30px;
    }

    .about-f-content {
        padding: 50px 50px;
        margin-bottom: 0;
    }


    .about-features-section {
        padding: 70px 0;
    }

    .impect-box h5 {
        font-size: 24px;
    }

    .about-features .col-sm-6 {
        margin-bottom: 15px !important;
    }

    .about-features-section .col-md-8 {
        padding-left: 15px;
        margin-top: 40px;
    }

    .contact-form-box {
        padding: 45px 15px;
    }

    .office-contact {
        padding: 50px 0 0 15px;
    }

    .c-contact-number span {
        font-size: 12px;
    }

    .contact-call span {
        font-size: 14px;
        line-height: 22px;
    }

    .contact-form-box input,
    .contact-form-box textarea {
        font-size: 12px;
    }

    .contact-form-box button {
        font-size: 14px;
    }

    .contact-form-section {
        padding: 60px 0;
    }

    .bg-comman {
        padding: 180px 0 180px 0;
    }

    .computer-product-section .about-content {
        margin-bottom: 20px;
    }

    .select {
        width: 290px;
    }

    .select .selectBtn {
        font-size: 16px;
    }

    .select .selectDropdown .option {
        font-size: 16px;
    }

    .impect-featurs img {
        margin-top: 6px;
    }

}