* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header-bg-color {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
}

.header-bg-color .navbar {
    padding: 15px 0;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
}

.menubar li a {
    color: #291919;
    font-size: 16px;
    font-weight: 700;
    padding-left: 40px !important;
    text-transform: uppercase;
    padding: 34px 16px;
}

.menubar li.active a {
    color: red;
    text-decoration: underline;
}

.carousel-img img {
    width: 100%;
    height: 100%;
}

.carousel-top-section {
    padding-top: 150px;
}

.carousel-content {
    color: #fff;
}

.carousel-content span {
    font-size: 37px;
    font-weight: 300;
}

.carousel-content h1 {
    font-size: 47px;
    font-weight: 700;
}

.carousel-content h1 strong {
    color: #3eb4dc;
}

.carousel-content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 80px;
}

.button-group a:hover {
    text-decoration: none;
}

.button-group a:first-child {
    border: 3px solid #ffffff;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 15px 37px;
}

.button-group a:last-child {
    border: 3px solid #3eb4dc;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 15px 53px;
    background-color: #3eb4dc;
    margin-left: 25px;
}

.button-group a:first-child:hover {
    background-color: #fff;
    color: #000;
    font-weight: 400;
}

.button-group a:last-child:hover {
    border: 3px solid #3eb4dc;
    background-color: transparent;
}

.navbar-fixed-top.scrolled {
    /* background-color: #545ba7 !important; */
    /* background: linear-gradient(90deg, rgba(84, 91, 167, 1) 0%, rgba(71, 123, 190, 1) 47%); */
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    /* transition: background-color 200ms linear; */
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 145px;
}

.carousel-section {
    margin-top: 91px;
}

.custom-carousel .carousel-item img {
    width: 100%;
    height: calc(100vh - 91px);
    object-fit: cover;
}

.navbar-call-btn a {
    color: #FF0000;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid #FF0000;
    border-radius: 4px;
    padding: 8px 32px;
    margin-left: 50px;
}

.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.carousel-caption h5 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
}

.carousel-caption h5 span {
    color: #FF0000;
}

.carousel-caption p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    max-width: 826px;
    display: block;
    margin: 0 auto 60px;
    text-align: center;
}

.carousel-btn a:first-child {
    background-color: #FF0000;
    border-radius: 4px;
    color: #fff;
    transition: all 0.5s;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 32px;
    border: 2px solid #FF0000;
    transition: all 0.5s;
}

.carousel-btn a:hover:first-child {
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
    transition: all 0.5s;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 32px;
    border: 2px solid #FF0000;

}

.carousel-btn a:last-child {
    border-radius: 4px;
    color: #fff;
    transition: all 0.5s;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 32px;
    border: 2px solid #fff;
    margin-left: 20px;
}

.carousel-btn a:hover:last-child {
    background-color: #fff;
    color: #FF0000;
}

.carousel-indicators {
    margin-bottom: 30px;
}

.carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    z-index: 9999;
    margin-left: 15px;
}

.carousel-indicators li.active {
    position: relative;
}

.carousel-indicators li.active:before {
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #fff;
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
}

.section-padding {
    padding-top: 80px;
}

.about-content h2 {
    font-size: 48px;
    font-weight: 800;
}

.about-content p {
    font-size: 16px;
    font-weight: 400;
    width: 415px;
    line-height: 36px;
}

.vision-section {
    background-color: #291919;
}

.section-mar-top {
    margin-top: 80px;
}

.about-img {
    position: relative;
}

.about-img::after {
    position: absolute;
    content: " ";
    width: 234px;
    height: 177px;
    background: rgba(255, 0, 0, 0.65);
    border-radius: 10px;
    top: -40px;
    right: -40px;
    z-index: -1;
}

.about-img::before {
    position: absolute;
    content: " ";
    width: 139px;
    height: 105px;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
    bottom: -40px;
    left: -40px;
    z-index: -1;
}

.about-img img {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.about-section {
    padding: 150px 0;
}

.vision-img img {
    width: 100%;
}

.vision-left-side-content {
    padding: 70px 160px 70px 105px;
}

.vision {
    margin-bottom: 63px;
}

.vision h2 {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.vision p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 36px;
    max-width: 375px;
}

.mission {
    padding-top: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.service-section {
    padding: 80px 0;
}

.service-box {
    padding: 34px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    margin: 80px 0 0;
}

.service-box svg {
    color: #FF0000;
    font-size: 40px;
}

.service-box span {
    display: block;
    font-size: 32px;
    font-weight: 500;
    padding: 15px 0 15px 0;
}

.service-box p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 30px;
}

.red-services {
    background-color: #FF0000;
}

.red-services span {
    color: #fff;
}

.red-services p {
    color: #fff;
}

.map-section {
    height: 400px;
}

.map-section iframe {
    border: 0;
    width: 100%;
    height: 400px;
}

.brand-section {
    padding: 70px 0;
}

.footet-section {
    background-color: #291919;
    padding-top: 55px;
}

.contact-call {
    align-items: center;
}

.contact-call svg {
    color: #fff;
    font-size: 25px;
    transform: rotate(90deg);
}

.contact-call .media-body {
    margin-left: 15px;
}

.contact-call span {
    display: block;
    color: #fff;
    line-height: 32px;
}

.social-icon {
    justify-content: end;
}

.social-icon li a {
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    position: relative;
    text-align: center;
}

.social-icon li a svg {
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact-detail {
    margin-bottom: 20px;
}

.footer-inner-section {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 35px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.copyright p {
    text-align: center;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 0;
    font-size: 14px;
}

.f-link h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.f-link a,
.f-link p {
    display: block;
    font-size: 14px;
    color: #fff !important;
    font-weight: 100;
    line-height: 26px;
}

.brand-logo-section {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 50px;
}

.brand-logo-section .row {
    border-radius: 10px;
    padding: 0 14px;
}

.l-col {
    width: 20%;
    padding: 50px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.l-col:nth-child(1) {
    border-top-left-radius: 10px;
}

.l-col:nth-child(5) {
    border-top-right-radius: 10px;
}

.l-col:nth-child(16) {
    border-bottom-left-radius: 10px;
}

.l-col:nth-child(20) {
    border-bottom-right-radius: 10px;
}

.l-col img {
    width: 130px;
    display: block;
    margin: 0 auto;
}

.testimonial-section {
    background: url(../images/testimonial-bg.jpg) no-repeat;
    background-size: cover;
    padding: 75px 0;
    background-position: center center;
}

.t-label h3 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.shadow-effect {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
    z-index: -1;
    margin-top: 40px;
}

.shadow-effect .media-body {
    text-align: left;
    margin-left: 30px;
}

.shadow-effect .media-body span {
    font-size: 16px;
    display: block;
    font-weight: 700;
}

.shadow-effect .media-body h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

#customers-testimonials {
    margin-top: 65px;
}

#customers-testimonials .shadow-effect p {
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
    text-align: center;
    margin-bottom: 80px;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item {
    z-index: -1;
}

#customers-testimonials .owl-item.active.center {
    z-index: 999999;
    position: relative;
}

#customers-testimonials .owl-item.active.center .item {
    transform: scale3d(1.2, 1.2, 1);
    z-index: 99999;
}

#customers-testimonials .owl-item.active.center .shadow-effect .testimonial-content p {
    font-size: 15px;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 70px;
    margin: 0 auto 17px;
    border-radius: 50px;
    margin-top: 8px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active {
    position: relative;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active:before {
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #fff;
    position: absolute;
    content: "";
    top: 5px;
    left: 10px;
    bottom: 5px;
    right: 5px;
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots button:focus {
    outline: none !important;
}


#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    display: inline-block;
    margin: 0 2px 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    z-index: 9999;
    margin-left: 15px;
    position: relative;
    top: 9px;
    left: -1px;
}

.star-section {
    display: flex;
}

.star-section svg {
    color: #F89B31;
}

.testimonial-container {
    max-width: 1600px;
}

.star-section svg {
    margin-right: 5px;
}

.main-header {
    background-color: #fff;
    z-index: 9999;
    top: -1px !important;
}

.main-header.js-is-sticky {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-menu a:hover {
    color: #FF0000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    top: 88px;
}


.navbar-call-btn a:last-child {
    display: none;
}

.navbar-toggler {
    border: 2px solid #FF0000;
    position: absolute;
    top: 29px;
    right: 75px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler svg {
    color: #FF0000;
}

header .navbar {
    padding: 0px 0;
}

.about-page-section {
    background: url(../images/about-bg-1.jpg);
}

.bg-comman {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 180px 0 280px 0;
    object-fit: cover;
    margin-top: 91px;
}

.abg-caption h2 {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 800;
}

.abg-caption h2 span {
    color: #FF0000;
}

.about-detail-section {
    margin-top: -100px;
}

.about-detail-box {
    background-color: #fff;
    padding: 55px 100px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 5px rgba(0, 0, 0, 0.15);
    width: 700px;
    display: block;
    margin: 0 auto;
}

.about-detail-box h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.about-detail-box p {
    font-size: 16px;
    line-height: 32px;
}

.about-main-content .col-md-6 {
    padding: 0;
}

.about-v-m-section {
    background-color: #291919;
}

.fits-img img {
    width: 100%;
}

.about-v-m-section {
    margin-top: 80px;
}

.about-f-content {
    padding: 0 194px;
    margin-bottom: 0;
}

.about-f-content p {
    max-width: 360px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.about-features-section {
    padding: 120px 0;
}

.impect-box {
    background: #FF0000;
    border-radius: 10px;
    padding: 100px 0px;
}

.impect-box h5 {
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    line-height: 48px;
}

.impect-featurs img {
    margin-top: 15px;
}

.impect-featurs .media-body {
    margin-left: 30px;
}

.impect-featurs .media-body h3 {
    font-weight: 500;
    font-size: 32px;
}

.impect-featurs .media-body p {
    font-size: 16px;
}

.about-features-section .col-md-8 {
    padding-left: 60px;
}

.col-mar-impect {
    margin-bottom: 80px;
}

.about-main-content .row {
    align-items: center;
}

.contact-form-section {
    padding: 120px 0;
}

.contact-form-box {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 45px 90px;
}

.contact-form-box p {
    margin-bottom: 40px;
    line-height: 32px;
    font-size: 16px;
}

.contact-page-section {
    background-image: url(../images/contact-bg-3.png);
}

.contact-form-box input::placeholder,
.contact-form-box textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.contact-form-box input,
.contact-form-box textarea {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 13px 15px;
    height: 100%;
    margin: 0 0 20px 0;
    resize: none;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.contact-form-box button {
    background: #291919;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 8px 35px;
}

.contact-form-box button:hover {
    color: #fff;
}

.contact-form-box button:focus {
    box-shadow: none;
}

.office-contact {
    padding: 50px 0 0 100px;
}

.c-address {
    margin-bottom: 40px;
}

.c-address h6 {
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.c-address p {
    display: block;
    font-size: 16px;
    color: #000 !important;
    line-height: 30px;
}

.c-contact-number span {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
}

.menubar .dropdown-menu a {
    padding-left: 25px !important;
    padding: 10px 16px;
}

.computer-product-section {
    padding: 180px 0 100px;
}

.computer-outer-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 40px;
}

.computer-outer-box img {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}

.computer-outer-box p {
    margin-top: 50px;
    margin-bottom: 0;
}

.computer-product-section .about-content {
    margin-bottom: 50px;
}

.computer-page-section {
    background-image: url(../images/computer-bg.jpg);
}

.select-box-section {
    margin-top: -35px;
}

.select {
    position: relative;
    margin-bottom: 15px;
    width: 450px;
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.select .selectBtn {
    background: var(--bg1);
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 0px;
    width: 100%;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    font-weight: bold;
    font-size: 18px;
}

.select .selectBtn:after {
    content: "";
    position: absolute;
    top: 45%;
    right: 35px;
    transition: 0.2s ease;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
}

.select .selectBtn.toggle {
    border-radius: 3px 3px 0 0;
}

.select .selectBtn.toggle:after {
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}

.select .selectDropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    background: var(--bg1);
    border-top: 1px solid #eee;
    z-index: 1;
    background: #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    visibility: hidden;
    transition: 0.2s ease;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.select .selectDropdown .option {
    padding: 10px 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

.select .selectDropdown .option:hover {
    background: #FF0000;
    color: #fff;
}

.select .selectDropdown.toggle {
    visibility: visible;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f8f9fa;
    color: #FF0000;
}

#navbarDropdown::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 49%;
    transform: translateY(-50%);
    transition: 0.2s ease;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #291919;
}

.menubar li.active a:after {
    border-top: 10px solid #FF0000 !important;
}

.s-active>a {
    color: #FF0000 !important;
}

.s-active #navbarDropdown::after {
    border-top: 10px solid #FF0000;
}